
<%- include("header"); -%>

<h2> This is the about page</h2>

obfgnklfgn gntrhgj;hm; fjkbbkbkkdfbkll;flb  jjkdfkgfueygfbekjfskdbkfbn
vlnbdfklbnglmngl ejbdfndhhm isdsgbdlnfglnfhmn jkvbsfveufaufhsdgjkjd; kjbskjvfsihgson

<%- include("footer"); -%>
